.container-fluid{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}
.main{
    width: 50%;
    max-height: 70%;
    background-color: whitesmoke;
    border-radius: 25px;
}
.section1 img{
    width: 300px;
    position: absolute;
    top: 80px;
    left: 31%;
}
span{
    display:none;
    color:hsl(240, 6%, 50%);
}
.FAQ{
    text-align:center;
    font-size: 2.5rem;
    padding: 6%;
}
.section2{
    padding-top: 40%;
}
.question1, .question2, .question3, .question4, .question5{
    cursor:pointer;
}