.container-fluid{
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}
.main{
    width: 50%;
    min-height: 50%;
    background-color: whitesmoke;
    border-radius: 25px;
    position: relative;
}
.section1 img{
    width: 300px;
    position: absolute;
    top: -130px;
    right: 10%;
}
.show1, .show2, .show3, .show4, .show5{
    display:none;
}
span{
    color:hsl(240, 6%, 50%);
    font-size:1rem;
}
.FAQ{
    text-align:center;
    font-size: 2.5rem;
    padding: 6%;
}
.section2{
    padding-top: 40%;
}
.question1, .question2, .question3, .question4, .question5{
    cursor:pointer;
}
@media (min-width:414px){
    .main{
        width: 95%;
    }
}
@media (min-width:600px){
    .main{
        width: 70%;
    }
}
@media (min-width:768px){
    .main{
        width: 50%;
    }
}
@media (min-width:992px){
    .main{
        width: 60%;
        flex-direction:row;
        justify-content: space-between;
    }
    .section1{
        width: 30%;
        height: auto;
    }
    .section2{
        width: 40%;
        height:auto;
    }
}
@media (width > 1200px){
    .main{
        width: 55%;
        min-height: 40%;
        flex-direction: row;
        justify-content: space-between;
    }
    .section1{
        width: 40%;
        height: 10%;
        padding: 0;
    }
    .section2{
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .section1 img{
        display:block;
    }
}